@model WebDiplomaBot.Models.Template

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Template</legend>

    <div class="display-label">Target</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Target)
    </div>

    <div class="display-label">Replacement</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Replacement)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
